{% load static %}
{% include 'includes/header.html' %}
<link rel="stylesheet" href="{% static 'ies_style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<TABLE CLASS="width100">
	<col CLASS="width25"> <col CLASS="width5"> <col CLASS="width50"> <col CLASS="width5"> <col CLASS="width25">
	<TR>
	<TD>
    <div id="output">
    <h1></h1>
    <form id="form" method="POST">
        {% csrf_token %}
        <h2>Login</h2>
	<br>&nbsp
    <label for="email"><b>User name</b></label>
    <input type="text" name="user_name" id="user_name" value="kanvladi">
	<br>&nbsp
    <label for="psw"><b>Password</b></label>
    <input type="password" name="pswrd" id="pswrd" value="********">
    <br>&nbsp1234567
    <input  type="submit" name="submit" value="submit">
    </form>
    
    </div>    

    <script>
        $('#form').on('submit', function(e){
            //alert('asdf');
        e.preventDefault();
          $.ajax({
               type : "POST",
               url: "{% url 'index_login' %}",
               data: {
                user_name : $('#user_name').val(),
                pswrd : $('#pswrd').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                dataType: "json",
               },
               success: function(response){
            if (response.gUserName == "error" || response.gPermitLevel == "error")
			{ alert("Recheck user name and password! Try again!"); }
		    else{
                msg = "<h2>Login</h2><br>&nbsp<h3>Welcome - " + response.gUserName + 
                "</h3><br>&nbsp<h3>Permit Level - " + response.gPermitLevel + 
                    "</h3><br><br> Your help desk: Mob/WhatsApp - +7(776)2928582"
                $('#output').html(msg) /* response message */
                }
           },
               failure: function() {
               }
           });
                });    
    </script>

    </TD>
    <TD>&nbsp
    </TD>
    <TD>
    
    <h2>Introduction</h2>
    <br>
    
    <p><b>IncreaseES application help to:</b><br>
        - Collect, describe, analyze all the methods and factors influencing the number of clicks, calls and sales on the websites of online stores.<br>
        - Store, collect, edit data of the positions of the own online sites in the search results of search engines system (Google, Yandex).<br>
        - Group, analyze all marketing methods and other factors to increase sales on C2C sites.</p>
    
    <p><b>Main goals of IncreaseES</b> application to explore: <br>
        - How to successfully sell goods and services through the Internet?<br>
        - Best methods and factors of SEO (Search Engine Optimisation) for own online shop?<br>
        - Best methods and factors for sale on C2C sites?</p>

    <p><b>Permission groups:</b><br>
    - Admin - direct access to data base management system. They can do everything.<br>
    - Super users - read, insert, update and delete all data.<br>
    - read And Site - insert/update/delete only site data and read all data. Exception: user data.<br> 
    - read And Marketplace - insert/update/delete only marketplace data and read all data. Exception: user data.<br>
    - read And Result - insert/update/delete only SEO result data and read all data. Exception: user data.<br>
    - Read only users –  read all data. Exception: user data.</p>
    
    </TD>
    <TD>&nbsp
    </TD>
    <TD>
    <h2>Fitches</h2>
    <br>
    <h3>Minimum Requirements</h3>
    
    <p>For the full functioning of the program, you only need: a browser, access to the Internet or a local network with a dedicated server.</p>
    
    <h3>User interface</h3>
    
    <p>User interface: simple and clear. This will allow you to optimize the use of working time. App do all operations (create, save, delete data) without reload page.</p>
    
    <h3>Safety</h3>
    
    <p>High data security is provided by the database server. Blowfish-based encryption algorithm, variation bcrypt provides high security for users' personal passwords.</p>
    
    <h3>Logging</h3>

	<p>Application don't delete records. App move records from active dataset to archive dataset. App also save last time and user for create, update or delete records.</p>
    
</TD>
    </TR>
    </TABLE>
            
{% include 'includes/footer.html' %}    