{% load static %}
{% include 'includes/header.html' %}
<link rel="stylesheet" href="{% static 'ies_style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
//*******************************************

// change color of element to red
function myChangeFunction(name){
	//var x=document.getElementById('id_1');  
	var x=document.forms["form_table"][name];
        x.style.color='red';
}    
 
//***********

var minusI = 0;// for negative index - new row
var newId = "";

// add new row to collection
function new_row(){

	minusI += 1;
    // add new row and cells
	var table = document.getElementById("mytable").getElementsByTagName('tbody')[0];
	var row = table.insertRow(-1);
	var cell1 = row.insertCell(0);
	var cell2 = row.insertCell(1);
	var cell3 = row.insertCell(2);
	var cell4 = row.insertCell(3);
	var cell5 = row.insertCell(4);
	var cell6 = row.insertCell(5);
    var cell7 = row.insertCell(6);
    var cell8 = row.insertCell(7);
    var cell9 = row.insertCell(8);

	cell1.innerHTML = '<input type="text" class="id" id="idS' + minusI + '" name="idS' + minusI + '" value="' + newId + '" disabled>';
	cell2.innerHTML = '<input type="text" class="name_site" id="name_marketplaceS' + minusI + '" name="name_marketplaceS' + minusI + '" value="{{name_marketplace}}">';
	cell3.innerHTML = '<input type="text" class="main_page" id="key_phraseS' + minusI + '" name="key_phraseS' + minusI + '" value="">';
	cell4.innerHTML = '<input type="number" class="digits" min="0" max="12" id="competition_levelS' + minusI + '" name="competition_levelS' + minusI + '" value="">';
	cell5.innerHTML = '<input type="number" class="digits" min="0" max="180" id="guaranteeS' + minusI + '" name="guaranteeS' + minusI + '" value="">';
	cell6.innerHTML = '<input type="number" class="digits" min="0" max="500" id="priceS' + minusI + '" name="priceS' + minusI + '" value="">';
	
    cell7.innerHTML = '<textarea class="desc" rows="2" cols="70" id="descriptionS' + minusI + '" name="descriptionS' + minusI + '" value=""></textarea>';
	cell8.innerHTML = '<input type="text" class="dt" id="date_createS' + minusI + '" name="date_createS' + minusI + '" value="TODAY">';
    cell9.innerHTML = '';

    // send data to back-end for insert new records
	$.ajax({
           type : "POST",
           url: "{% url 'marketplace_sales_insert' %}",
           data: {
            name_marketplace: '{{name_marketplace}}',
            csrfmiddlewaretoken: '{{ csrf_token }}',
            dataType: "json",
           },
           success: function(data){
              //alert(data.idMax);
              nId = "idS" + minusI;
              document.forms["form_table"][nId].value = data.idMax;

           },
           failure: function() {
           }
       });            
}

//**************************

// delete record from collection
function delete_row(i){

if (i >= 0) {iStr = ""+i;}// for positive index
    else {iStr = "S"+i*(-1);} // for negative index
 
n_id = "id"+iStr;
n_name_marketplace = "name_marketplace"+iStr;
n_key_phrase = "key_phrase"+iStr;
n_competition_level = "competition_level"+iStr;
n_guarantee = "guarantee"+iStr;
n_price = "price"+iStr;
n_create_date = "create_date"+iStr;
n_description = "description"+iStr;

id = document.forms["form_table"][n_id].value;

// send data to back-end
$.ajax({
           type : "POST",
           url: "{% url 'marketplace_sales_delete' %}",
           data: {
            id : id,
            csrfmiddlewaretoken: '{{ csrf_token }}',
            dataType: "json",
           },
           success: function(data){
              alert(data.msg);
           },
           failure: function() {
           }
       }); 

// clear cell
document.forms["form_table"][n_id].value = "";
document.forms["form_table"][n_name_marketplace].value = "";
document.forms["form_table"][n_key_phrase].value = "";
document.forms["form_table"][n_competition_level].value = "";
document.forms["form_table"][n_guarantee].value = "";
document.forms["form_table"][n_price].value = "";
document.forms["form_table"][n_create_date].value = "";
document.forms["form_table"][n_description].value = "";
} 

//***********

// check permission and hide buttons
window.onload = function() {
    if (! ['superUser', 'readAndSite'].includes('{{gPermitLevel}}'))
	{
	document.forms["form_table"]["submit"].style.visibility="hidden";
	document.forms["form_table"]["buttonAdd"].style.visibility="hidden";
	
	var flag=1; // element exists
	i= 0;
	while ((flag == 1) && (i < 1000)) {
		str = "buttonDel" + i;
		if (document.forms["form_table"][str]) {
		document.forms["form_table"][str].style.visibility="hidden"; }
		else {flag=0;}
	i++;}
	}
}

//***********
</script>
<br>
<h1>Marketplace sales</h1>
<br>
{% load appname_tags %}
<form id="form_table" method="POST">
    {% csrf_token %}
<table  name="mytable" id="mytable"  border="1" class="Simple" width="1000px">
    <tr>
        <th>ID</th>
        <th>Name market</th>
        <th>Key phrase</th>
        <th>Competition level</th>
        <th>Guarantee</th>
        <th>Price</th>
        <th>Description</th>
        <th>Create date</th>
        <th>Delete</th>
    </tr>
        {% for value in drivers %}
        
    <tr>
        <td><input type="text" class="id" id="id{{forloop.counter0}}"  name="id{{forloop.counter0}}" 
            value="{{value|underscoreTag:'_id'}}" disabled></td>
        <td><input type="text" class="name_site" id="name_marketplace{{forloop.counter0}}" name="name_marketplace{{forloop.counter0}}"
            value="{{value.name_marketplace}}" onchange="myChangeFunction('name_marketplace{{forloop.counter0}}')" disabled></td>
        <td><input type="text" class="main_page" id="key_phrase{{forloop.counter0}}" name="key_phrase{{forloop.counter0}}"
            value="{{value.key_phrase}}"  onchange="myChangeFunction('key_phrase{{forloop.counter0}}')"></td>
        <td><input type="number" class="digits" min="0" max="12" id="competition_level{{forloop.counter0}}" name="competition_level{{forloop.counter0}}"
            value="{{value.competition_level}}"  onchange="myChangeFunction('competition_level{{forloop.counter0}}')"></td>
        <td><input type="number" class="digits" min="0" max="180" id="guarantee{{forloop.counter0}}" name="guarantee{{forloop.counter0}}"
            value="{{value.guarantee}}"  onchange="myChangeFunction('guarantee{{forloop.counter0}}')"></td>
        <td><input type="number" class="digits" min="0" max="500" id="price{{forloop.counter0}}" name="price{{forloop.counter0}}"
            value="{{value.price}}"  onchange="myChangeFunction('price{{forloop.counter0}}')"></td>


        <td><textarea class="desc"  rows="2" cols="70" id="description{{forloop.counter0}}" name="description{{forloop.counter0}}"
            onchange="myChangeFunction('description{{forloop.counter0}}')">{{value.description}}</textarea></td>
        <td><input type="text" class="dt" id="create_date{{forloop.counter0}}" name="create_date{{forloop.counter0}}"
             value="{{value.create_date}}" disabled></td>
        <td><input type="button" value="Delete" name="buttonDel{{forloop.counter0}}" id="buttonDel{{forloop.counter0}}"
            onclick="delete_row({{forloop.counter0}})"></td>

    </tr>
    {% endfor %}

</table>
<br>
<div class="Travel">
<input  type="submit" name="submit" value="submit">
<input type="button" name="buttonAdd" value="+ Add" onclick="return new_row()">
</div>
<div id="output2">
</div>
</form>
<script>

// save data to collection
$('#form_table').on('submit', function(e){
    alert('54');
    e.preventDefault();
    var flag=1; // element exists
	i= - minusI;
	
    // loop for find exists elements
	while ((flag == 1) && (i < 1000)) {
        
		if (i >= 0) {iStr = ""+i;}// for positive index
			else {iStr = "S"+i*(-1);} // for negative index
            
    //alert("name_site"+iStr);
    if(typeof(document.forms["form_table"]["name_marketplace"+iStr]) == 'undefined' || 
        document.forms["form_table"]["name_marketplace"+iStr] == null)
			{flag=0;}
    //alert($(name_id).val());
    if ((i < 0) || // negative index always update
		    ((document.forms["form_table"]['id'+iStr]) && // element exists
		    (document.forms["form_table"]['name_marketplace'+iStr].style.color == 'red' ||
		    document.forms["form_table"]['key_phrase'+iStr].style.color == 'red' ||
            document.forms["form_table"]['competition_level'+iStr].style.color == 'red' ||
            document.forms["form_table"]['guarantee'+iStr].style.color == 'red' ||

            document.forms["form_table"]['price'+iStr].style.color == 'red' ||
		    document.forms["form_table"]['description'+iStr].style.color == 'red')))
		{//.style.color == 'red' - changed
      $.ajax({
           type : "POST",
           url: "{% url 'marketplace_sales_save' %}",
           data: {
            id : $('#id'+iStr).val(),
            name_marketplace : $('#name_marketplace'+iStr).val(),
            key_phrase : $('#key_phrase'+iStr).val(),
            competition_level : $('#competition_level'+iStr).val(),
            guarantee : $('#guarantee'+iStr).val(),

            price : $('#price'+iStr).val(),
            description : $('#description'+iStr).val(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            dataType: "json",
           },
           success: function(data){
              $('#output2').html(data.msg) /* response message */
           },
           failure: function() {
           }
       }); 
    }//.style.color == 'red' - changed
    i++;};
});   
 
</script>

{% include 'includes/footer.html' %}